<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/item/itemForm.css}">
    <title>Add item</title>
</head>
<body>
    <div layout:fragment="content">
        <form role="form" method="post" enctype="multipart/form-data" th:object="${itemFormDto}">
            <div id="add-item-section">
                <span id="add-text">Add new Item</span>

                <input type="hidden" th:field="*{id}">

                <p id="required-field">Required Fields *</p>

                <div class="form-group">
                    <select th:field="*{itemSellStatus}" class="custom-select">
                        <option value="SELL">SELL</option>
                        <option value="SOLD_OUT">SOLD OUT</option>
                    </select>
                </div>


                <div class="input-group">
                    <div class="input-group-name">
                        Item Name *
                    </div>
                    <input class="input" type="text" th:field="*{itemName}" placeholder="Enter Item Name">
                </div>
                <p th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}" class="fieldError">Incorrect data</p>

                <div class="input-group">
                    <div class="input-group-name">
                        Item Price *
                    </div>
                    <input class="input" type="number" th:field="*{price}" placeholder="Enter Item Price">
                </div>
                <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError">Incorrect data</p>

                <div class="input-group">
                    <div class="input-group-name">
                        Stock Quantity *
                    </div>
                    <input class="input" type="number" th:field="*{stockNumber}" placeholder="Enter Number of Stock available">
                </div>
                <p th:if="${#fields.hasErrors('stockNumber')}" th:errors="*{stockNumber}" class="fieldError">Incorrect data</p>


                <div class="input-group">
                    <div class="input-group-name">
                        Item Description *
                    </div>
                    <textarea class="text-area" aria-label="With textarea" th:field="*{itemDetail}"
                              placeholder="Enter Item Description"></textarea>
                </div>
                <p th:if="${#fields.hasErrors('itemDetail')}" th:errors="*{itemDetail}" class="fieldError">Incorrect data</p>

                <p th:if="${#fields.hasErrors('itemImgDtoList')}" th:errors="*{itemImgDtoList}" class="fieldError">Image upload error</p>

                <p th:if="${errorMessage != null}" th:text="${errorMessage}" class="fieldError"></p>

                <div th:each="num: ${#numbers.sequence(0,4)}">
                    <div class="insert-img">
                        <span class="file-name-display"
                              th:text="${itemFormDto.itemImgDtoList != null && itemFormDto.itemImgDtoList.size() > num && itemFormDto.itemImgDtoList[num].oriImgName != null}
                           ? ${itemFormDto.itemImgDtoList[num].oriImgName} : 'Select file'">Select file</span>
                        <input type="file" class="img-button" name="itemImgFile" accept="image/*">
                        <input type="hidden" name="itemImgIds"
                               th:value="${itemFormDto.itemImgDtoList != null && itemFormDto.itemImgDtoList.size() > num} ? ${itemFormDto.itemImgDtoList[num].id} : ''">
                    </div>
                </div>

                <div th:if="${#strings.isEmpty(itemFormDto.id)}">
                    <button th:formaction="@{/admin/item/new}" class="button" type="submit">Save</button>
                </div>
                <div th:unless="${#strings.isEmpty(itemFormDto.id)}">
                    <button th:formaction="@{'/admin/item/' + ${itemFormDto.id}}" class="button" type="submit">Edit</button>
                </div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>
    </div>
    <th:block layout:fragment="script">
        <script th:src="@{/js/member/itemForm.js}"></script>
    </th:block>
    <script th:inline="javascript">
        window.errorMessage = /*[[${errorMessage}]]*/ null;
    </script>
</body>
</html>
