<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/item/itemMng.css}">
    <title>Manage Item</title>
</head>
<body>
    <div layout:fragment="content">
        <form th:action="@{'/admin/items/' + ${pagedItems.number}}" role="form" method="get" th:object="${pagedItems}">
            <table>
                <thead>
                <tr>
                    <td>Item id</td>
                    <td>Item Name</td>
                    <td>Status</td>
                    <td>Created By</td>
                    <td>Registered Date</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, status: ${pagedItems.getContent()}">
                    <td th:text="${item.id}"></td>
                    <td>
                        <a th:href="'/admin/item/'+${item.id}" th:text="${item.itemName}"></a>
                    </td>
                    <td th:text="${item.itemSellStatus == T(com.example.shop.constant.ItemSellStatus).SELL} ? 'SELL' : 'SOLD_OUT'"></td>
                    <td th:text="${item.createdBy}"></td>
                    <td th:text="${item.regTime}"></td>
                </tr>
                </tbody>
            </table>

            <div th:with="start=${(pagedItems.number/maxPage)*maxPage + 1}, end=(${(pagedItems.totalPages == 0) ? 1 : (start + (maxPage - 1) < pagedItems.totalPages ? start + (maxPage - 1) : pagedItems.totalPages)})" >
                <ul class="pagination">
                    <li class="page-item" th:classappend="${pagedItems.first}?'disabled'">
                        <a th:onclick="${!pagedItems.first} ? 'javascript:page(' + (${pagedItems.number - 1}) + ')' : 'return false;'" aria-label='Previous' class="page-link">
                            <span aria-hidden='true'>Previous</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${pagedItems.number eq page - 1}?'active':''">
                        <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                    </li>
                    <li class="page-item" th:classappend="${pagedItems.last}?'disabled'">
                        <a th:onclick="${!pagedItems.last} ? 'javascript:page(' + (${pagedItems.number + 1}) + ')' : 'return false;'" aria-label='Next' class="page-link">
                            <span aria-hidden='true'>Next</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="item-search-bar" th:object="${itemSearchDto}">
                <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
                    <option value="all">All</option>
                    <option value="1d">1 Day</option>
                    <option value="1w">1 Week</option>
                    <option value="1m">1 Month</option>
                    <option value="6m">6 Months</option>
                </select>
                <select th:field="*{searchSellStatus}" class="form-control" style="width:auto;">
                    <option value="">SELL OR SOLD_OUT</option>
                    <option value="SELL">SELL</option>
                    <option value="SOLD_OUT">SOLD_OUT</option>
                </select>
                <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                    <option value="itemName">Item Name</option>
                    <option value="createdBy">Created By</option>
                </select>
                <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="Enter item name">
                <button id="searchBtn" type="submit" class="">Search</button>
            </div>
        </form>
    <th:block layout:fragment="script">
        <script th:src="@{/js/item/itemMng.js}"></script>
    </th:block>
    </div>
</body>

</html>