<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <!-- Individual CSS / Script files -->
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
    <!-- Common files-->
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <script th:src="@{/js/header.js}"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div layout:fragment="content" class="content"></div>

    <div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>