<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:fragment="header">
    <div id="real-menu-button-container">
        <button id="menu-button-real">
            <i id="menu-icon" class="fa-solid fa-bars"></i>&nbsp;&nbsp;<span id="menu-label">Menu</span>
        </button>
    </div>

    <header class="header">
        <div class="header-inner">
            <div class="left-buttons">
                <button id="menu-button-placeholder" style="visibility: hidden;">
                    <i class="fa-solid fa-bars"></i>&nbsp;&nbsp;<span>Menu</span>
                </button>
                <button id="search-button">
                    <i class="fa-solid fa-magnifying-glass"></i>&nbsp;&nbsp;Search
                </button>
            </div>

            <div class="logo">
                <img th:src="@{/img/logo.png}" alt="logo">
            </div>

            <div class="right-buttons">
                <button sec:authorize="hasAnyAuthority('ROLE_ADMIN')" onclick="location.href='/admin/item/new'">
                    Add new item</button>

                <button sec:authorize="hasAnyAuthority('ROLE_ADMIN')" onclick="location.href='/admin/items'">
                    Manage items</button>

                <button sec:authorize="isAnonymous()" onclick="location.href='/members/login'">
                    <i class="fa-solid fa-user"></i>&nbsp;&nbsp;Log in</button>
                <form id="logout-form" th:action="@{/members/logout}" method="post" sec:authorize="isAuthenticated()">
                    <button type="submit" class="logout-button"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;Log out</button>
                </form>

                <button sec:authorize="isAuthenticated()" onclick="location.href='/cart'" >
                    <i class="fa-solid fa-bag-shopping"></i>&nbsp;&nbsp;Bag
                </button>

                <button sec:authorize="isAuthenticated()" onclick="location.href='/orders'">
                    <i class="fa-solid fa-truck"></i>&nbsp;&nbsp;Orders</button>
            </div>
        </div>
    </header>

    <!-- Side Menu-->
    <div id="side-menu" class="side-menu hidden">
        <ul>
            <li><a th:href="@{/items/OUTER}">Outer</a></li>
            <li><a th:href="@{/items/TOP}">Top</a></li>
            <li><a th:href="@{/items/BOTTOM}">Bottom</a></li>
            <li><a th:href="@{/items/SHOES}">Shoes</a></li>
            <li><a th:href="@{/items/ACCESSORY}">Accessory</a></li>
        </ul>
        <hr>
        <div id="side-help">
            <span id="side-help-1">Can we help you?</span><br>
            <span>hoju.lee@mail.utoronto.ca</span>
        </div>
    </div>

    <!-- Search overlay -->
    <div id="search-overlay" class="search-overlay">

        <button id="close-search" class="close-button">
            <i class="fa-solid fa-xmark"></i>
        </button>

        <div id="search-overlay-inner">
            <div class="logo2">
                <img th:src="@{/img/logo.png}" alt="logo">
            </div>
            <form id="search-form" th:action="@{/}" method="get">
                <input type="text" name="searchQuery" class="search-input"
                       placeholder="Search for new items" th:value="${itemSearchDto.searchQuery}" autocomplete="off" />
            </form>
            <div id="search-results-container" class="search-grid" th:fragment="searchResults">
                <th:block th:if="${items != null and items.hasContent()}" th:each="item, status: ${items.getContent()}">
                    <div class="h-card">
                        <a th:href="@{'/item/' + ${item.id}}">
                            <img th:src="${item.imgUrl}" th:alt="${item.itemName}" class="h-card-img">
                            <div class="h-card-body">
                                <span class="h-card-title" th:text="${item.itemName}">Item Name</span>
                                <span class="h-card-price" th:text="'$' + ${item.price}">Price</span>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>

