#footer {
    width: 100%;
    text-align: center;
}

#footer span {
    margin-bottom: 1rem;
}

#contact-me {
    margin: 1rem 0;
    padding: 0.6rem 1.2rem;
    border: 2px solid black;
    border-radius: 500px;
    color: black;
    cursor: pointer;
    background-color: white;
}

