.header {
    position: fixed;
    top: 0;
    height: 5rem;
    width: 100%;
    font-size: 1rem;
    margin-top: 2rem;
    z-index: 1;
}

.header-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.left-buttons,
.right-buttons {
    display: flex;
    gap: 12px;
}

.left-buttons {
    padding-left: 5rem;
}

.right-buttons {
    padding-right: 5rem;
}

button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}


.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    max-height: 5rem;
    height: auto;
    width: auto;
    display: block;
}

#menu-button-real {
    padding: 0;
}

#real-menu-button-container {
    position: fixed;
    top: 2rem; /* .header의 margin-top과 동일하게 */
    left: 5rem; /* .left-buttons의 padding-left와 동일하게 */
    height: 5rem; /* .header의 height와 동일하게 */
    z-index: 3;
    display: flex; /* Flexbox로 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

.side-menu {
    position: fixed;
    top: 0;
    left: -80%; /* hidden */
    width: 25vw;
    height: 100vh;
    background-color: #fff;
    transition: left 0.3s ease;
    z-index: 2;
}

.side-menu ul {
    list-style: none;
    padding-top: 5rem;
    padding-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.side-menu li {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.side-menu.active {
    left: 0;
}

#side-help {
    padding-left: 5rem;
}

#side-help-1 {
    display:inline-block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}