<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link layout:fragment="css" rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
</head>
<body>
<div layout:fragment="content">
    <div id="main-section">

        <div id="main-image">
            <video id="main-video" width="100%" autoplay loop muted>
                <source th:src="@{/vid/beach_walking.mp4}">
            </video>
        </div>

        <div class="video-overlay">
            <span id="over-1">Discover Your Style</span>
            <span id="over-2">Find Your Perfect Match</span>
        </div>
    </div>
</div>
</body>
</html>