<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<!-- Header Fragment -->
<div th:replace="~{fragments/header :: header(items=${items}, itemSearchDto=${itemSearchDto}
                                                            , maxPage=${maxPage})}"></div>
<!-- Main Section -->
<div id="main-section" style="background-color: beige">

    <div id="main-image">
        <video id="main-video" width="100%" autoplay loop muted>
            <source th:src="@{/vid/beach_walking.mp4}">
        </video>
    </div>

    <div class="video-overlay">
        <span id="over-1">Discover Your Style</span>
        <span id="over-2">Find Your Perfect Match</span>
    </div>
</div>


<!-- Footer fragment-->
<div th:replace="fragments/footer :: footer"></div>


    <script th:src="@{/js/header.js}"></script>
</body>
</html>